{% set api = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['octavia-common', 'octavia-api'],
        'services': ['octavia-api'],
        'notification': False,
        'cors': {},
        'audit': {
          'enabled': false
        }
    },
    'RedHat': {
        'pkgs': ['octavia-common', 'octavia-api'],
        'services': ['octavia-api'],
        'notification': False,
        'cors': {},
        'audit': {
          'enabled': false
        }
    },
}, merge=pillar.octavia.get('api', {})) %}

{% set manager = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['octavia-common', 'octavia-worker', 'octavia-housekeeping',
                 'octavia-health-manager', 'iptables-persistent'],
        'services': ['octavia-worker', 'octavia-housekeeping', 'octavia-health-manager'],
        'ssh': {
          'private_key_file': '/etc/octavia/.ssh/octavia_ssh_key',
        },
        'notification': False,
        'cors': {},
        'audit': {
          'enabled': false
        }
    },
    'RedHat': {
        'pkgs': ['octavia-common', 'octavia-worker', 'octavia-housekeeping',
                 'octavia-health-manager', 'iptables-persistent'],
        'services': ['octavia-worker', 'octavia-housekeeping', 'octavia-health-manager'],
        'ssh': {
          'private_key_file': '/etc/octavia/.ssh/octavia_ssh_key',
        },
        'notification': False,
        'cors': {},
        'audit': {
          'enabled': false
        }
    },
}, merge=pillar.octavia.get('manager', {})) %}

{% set monitoring = salt['grains.filter_by']({
    'default': {
        'error_log_rate': 0.2,
    },
}, merge=pillar.octavia.get('monitoring', {})) %}
